		@media screen and (max-width:767px){
			.col-mob-1{ width: 8.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-2{ width: 16.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-3{ width: 25%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-4{ width: 33.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-5{ width: 41.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-6{ width: 50%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-7{ width: 58.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-8{ width: 66.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-9{ width: 75%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-10{ width: 83.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-11{ width: 91.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-mob-12{ width: 100%; /*float: left;*/ box-sizing: border-box; padding: 0 10px; }


			.mob_hidden{
				display: none;
			}
			.mob_show{
				display: block;
			}
		}

		@media screen and (min-width:768px){
			.col-des-1{ width: 8.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-2{ width: 16.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-3{ width: 25%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-4{ width: 33.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-5{ width: 41.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-6{ width: 50%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-7{ width: 58.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-8{ width: 66.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-9{ width: 75%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-10{ width: 83.333333%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-11{ width: 91.666666%; float: left; box-sizing: border-box; padding: 0 10px; }
			.col-des-12{ width: 100%;/* float: left;*/ box-sizing: border-box; padding: 0 10px; }


			.des_hidden{
				display: none;
			}

		}
		








		.fontFam{
			font-family:  微軟正黑體, 新細明體;
		}
		.clearfix{
			width: 100%;
			clear: both;
		}
		.container_960{
			max-width: 960px;
			margin: auto;
		}
		
		
		.barSpace{
			height: 108px;
		}
		.mobBar{
			position: fixed;
			top: 0;
			z-index: 150;
			width: 100%;
			height: 52px;
			background-color: rgba(255,255,255,1);
			box-shadow: 0 1px 5px rgba(0, 0, 0,.3);
		}
		.mobLogo{
			position: absolute;
			top: 10.5px;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			text-align: center;
		}
		.mobLogo img{
			width: 135px;
		}
		.mobCart{
			box-sizing: border-box;
			/*float: right; */
			padding: 10px 20px;
		}
		.mobCart a{
			float: right;
			/*display: block;*/
		}
		.mobCart img{
			width: 30px;
		}
		
		.hambeger{
			display: block;
			float: left;
			cursor: pointer;
			width: 25px;
			height: 25px;
			position: relative;
			top: 4px;
			z-index: 301;
		}
		.hambeger img{
			width: 25px;
		}
		#hamList{
			position: fixed;
			top: 45px;
			left: 0;
			opacity: 0;
		}
		.hamNav{
			position: fixed;
			z-index: 200;
			top: 52px;
			left: -100%;
			width: 100%;
			height: 100%;
			background-color: rgba(187, 122, 64, .9);
			text-align: center;
			/*text-shadow: 2px 2px 2px #000;*/
			line-height: 2;
			transition: 1s;
		}
		#hamList:checked+.hamNav{
			left: 0;
		}
		
		.hamNav>li{
			padding: 10px 0; 
		}
		.hamNav>li+li{
			border-top: 2px dotted rgba(255,255,255,.3);
		}
		.hamNav a{
			display: block;
			/*width: 100px;*/
			margin: auto;
			position: relative;
			font-size: 23px;
			color: #fff;
		}




		.menu{
			position: relative;
		}
		.menubar{
			width: 100%;
			height: 108px;
			/*background-color: #fff;*/
			background-image: url("../image/bgPic1.png");
			background-repeat: repeat;
			position: fixed;
			top: 0;
			z-index: 20;
			box-shadow: 0 1px 5px rgba(0, 0, 0,.3);
		}
		.logoPic{
			width: 18%;
			margin-left: 10px;
			margin-top: 4.5px;
			font-size: 0;
			text-align: left;
		}
		.logoPic img{
			width: 90%;
			display: inline-block;
			float: left;
		}
		.chiName{
			display: inline-block;
			font-size: 35px;
			color: #82231f;
			margin: 5% auto auto 3%;
			text-decoration: none;
		}
		.chiName span{
			font-size: 26px;
			color: #323232;
			margin-left: 10px;
		}
		.memberCart{
			margin: 10px 25px;
			text-align: right;
			font-size: 13px;
			color: #747472;
		}
		.memberCart a{
			text-decoration: none;
			color: #747472;
		}
		.memberCart .fa-user-circle-o, .memberCart .fa-shopping-cart{
			color: #747472;
		}
		.memberCart a:hover, .fa-user-circle-o:hover, .fa-shopping-cart:hover{
			color: #BB7A40;
		}
		.menubar nav{
			text-align: center;
			/*padding: 20px 25px 0;*/
		}
		.mainMenu li{
			position: relative;
			text-align: center;
		}
		.mainMenu > li{
			display: inline-block;
			font-size: 17px;
			margin: 7px 5px 0px;
		}
		.mainMenu > li a{
			display: block;
			color: #777777;
			text-decoration: none;
			padding: 7px 7px;
			transition: all .3s 0s;
		}
		.mainMenu > li a:hover{
			color: #BB7A40;
		}
		.mainMenu ul{
			display: none;
			position: absolute;
		}
		.mainMenu ul li,
		.mainMenu ul li a{
			display: block;
		}
		.mainMenu li:hover .subMenu{
			display: block;
			background-color: #BB7A40;
			z-index: 3;
		}
		.subMenu li a{
			color: #ffffff;
		}
		.subMenu li a:hover{
			color: #323232;
		}

		footer{
			padding: 30px 0;
			background-color: #BB7A40;
		}

		.footerAdd{
			text-align: center;
		}
		.footerAdd img{
			padding-top: 20px;
			vertical-align: top;
		}
		.footerAdd a{
			text-decoration: none;
			/*display: inline-block;*/
			font-size: 20px;
			line-height: 1.8;
			color: #000;
		}
		.footerAdd h2, .footerAdd a:nth-of-type(2){
			/*display: inline-block;*/
		}
		.footerAdd p{
			padding-top: 13px;
			font-size: 17px;
		}
		.footerAdd:after{
			content: "";
			display: block;
			padding-top: 25px;
			border-bottom:  1px solid rgba(238, 238, 238, 0.2);
		}
		
		.footerNav{
			font-size: 0;
			padding-top: 15px;
			text-align: center;
		}

		.footerNav li{
			display: inline-block;
			border-right: 1px solid #000;
			font-size: 13px;
			padding: 0 10px;
		}
		.footerNav li:last-child{
			border-right: none;
		}
		.footerNav a{
			text-decoration: none;
			color: #000;
		}
		
		.footerNav a:hover{
			color: #fff;
		}
		
		.privacy{
			font-size: 0;
			padding-top: 15px;
			text-align: center;
		}

		.privacy li{
			display: inline-block;
			font-size: 13px;
			padding: 0 10px;
		}
		.privacy li:first-child{
			border-right: 1px solid #000;
		}
		.privacy a{
			text-decoration: none;
			color: #000;
		}
		.privacy a:hover{
			color: #fff;
		}


		.breadcrumb{
		    padding: 10px 16px;
		    list-style: none;
		}
		.breadcrumb li{
		    display: inline;
		    font-size: 12px;
		}
		.breadcrumb li+li:before{
		    content: "/\00a0";
		    padding: 8px;
		    color: black;
		}
		.breadcrumb li a{
		    color: #777777;
		    text-decoration: none;
		}
		.breadcrumb li a:hover{
		    color: #BB7A40;
		    text-decoration: underline;
		}
		

		.groomingEnvi{
			padding: 30px 5px;
		}
		.enviBorder img{
			width: 100%;
			position: relative;
			left: 16px;
			bottom: 16px;
			vertical-align: top; 
		}
		.groomingEnvi .enviBorder{
			border: 3px solid #BB7A40;
		}
		
		


		.infoTitle{
			text-align: center;
			padding: 80px 0 45px;
		}
		.infoTitle h3{
			color: #BB7A40;
			font-size: 35px;
			font-weight: 700;
		}
		.infoTitle span{
			width: 49px;
			height: 49px;
			border-radius: 50%;
			background-color: ##BB7A40;
			display: inline-block;
			color: #fff;
			text-align: center;
			line-height: 1.4;
		}
		.groomingTxt p{
			text-align: justify;
　　		text-justify: inter-ideograph;
			line-height: 1.8;
			padding: 10px 0 0 15px;
			font-size: 18px;
			color: #321004;
		}

		.infoTitle h1,
		.infoTitle h2{
			color: #BB7A40;
			font-size: 35px;
			font-weight: 700;
		}

		.infoTitle span{
			width: 49px;
			height: 49px;
			border-radius: 50%;
			background-color: #BB7A40;
			display: inline-block;
			color: #fff;
			text-align: center;
			line-height: 1.4;
		}

		.shopPic .container_960{
			text-align: center;
		}
		.shopPic{
				padding-top: 25px;
		}
		.shopPic img{
			width: 100%;
		}
		.shopBigPic img{
			border-radius: 8px;
		}
		.shopEnviPic img{
			margin: 5px 0px;
			cursor: pointer;
			vertical-align: middle;
			opacity: 0.7;
		}

		.shopEnviPic img:hover{
			opacity: 1;
		}
		.shopEnviPic img:hover::before{
			display: block;
		}
		.clickTxt{
			text-align: center;
			font-size: 18px;
			padding-top: 25px;
			margin: auto;
		}
		.clickTxt p{
			color: #321004;
			background-color: #DCB898;
			line-height: 2;
			color: #FFF;
			position: relative;
			animation-name: move;
			animation-duration: 4s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		@keyframes move{
			0%{background-color: #DCB898 ;}
			50%{background-color: #A26A37 ;}
			100%{background-color: #DCB898;}
		}
		

		.featurePart{

		}
		.featurePart img{
			width: 100%;
			border-radius: 5px;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
			vertical-align: middle;
		}
		.featurePart img:hover{
			box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
		}
		.feature figcaption{
			font-size: 17px;
			text-align: center;
			padding: 22px 0 14px;
			font-weight: 600;
			color: #A26A37;
			border-bottom: 1.5px dotted rgba(0, 0, 255, 0.6);
		}
		.feature p{
			text-align: justify;
			text-justify: inter-ideograph;
			padding: 14px 12px 13px;
			line-height: 1.4;
			font-size: 15px;
			color: #321004;
		}

		.threeBtn{
			padding-bottom: 40px;
		}
		.bigBtn{
			padding: 0px 30px;
		}
		

		.bigBtn div{
			text-align: center;
			background-color: #DCB898;
			border-radius: 8px;
		}
		.bigBtn div:hover{
			background-color:#BB7A40;
		}
		.bigBtn img{
			width: 45%;
			margin-bottom: 10px;
		}
		.bigBtn h2{
			font-size: 25px;
			font-weight: 600;
			color: #fff;
			animation-name: move2;
			animation-duration: 8s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
		@keyframes move2{
			0%{color: #fff;}
			50%{color: #321004;}
			100%{color: #fff;}
		}
		.bigBtn a{
			display: block;
			text-decoration: none;
			color: #000;
			padding: 35px 0px;
		}
		
		@media screen and (max-width:767px){
			.enviBorder img{
				left: 0px;
				bottom: 0px;
			}
			.shopEnviPic img{
				width: 20%;
				margin: 13px 3px 0px;
				cursor: pointer;
				opacity: 0.9;
			}
			.clickTxt{
				font-size: 18px;
				color: red;
				padding-top: 15px;
			}
			.groomingTxt p{
				line-height: 1.5;
				padding-right: 15px;
			}
			.bigBtn{
				padding: 10px;
			}
			.bigBtn h2{
				font-size: 18px;
				color: #fff;
			}
			.feature{
				padding-top: 18px;
			}
			.feature figcaption{
				font-size: 16px;
				padding: 0 0 4px;
				border-bottom: 1px dotted rgba(0, 0, 255, .5);
				text-align: left;
			}
			.feature p{
				text-align: justify;
				text-justify: inter-ideograph;
				padding: 10px 0;
				line-height: 1.3;
				font-size: 1px;
			}
			.featurePart img{
				border-radius: 3px;
				box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
				vertical-align: middle;
			}
			.bigBtn div{
				background-color: #BB7A40;
				border-radius: 4px;
			}
			
		}


		*{
			/*outline: 1px solid red;*/
		}
		
		body{
			background-color: #FDF5F0;
		}

